<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CollegeCreditPlusOrientation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="recaptchaPublicKey" value="6LfMcUMUAAAAAMpVR_ydFEDX181SA8xUfJrjb4Tc" />
    <add key="recaptchaPrivateKey" value="6LfMcUMUAAAAAJ3_WKKjYtm2nzp7id6Yk3xWa-1N" />
    <add key="recaptchaApiVersion" value="2" /></appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/Home/Error" />-->
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <httpModules />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.24.0" newVersion="1.11.24.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>-->
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
 
  <applicationSettings>
    <CollegeCreditPlusOrientation.Properties.Settings>
      <setting name="EventRegistrationGUID" serializeAs="String">
        <value>2af94a9e-b326-43aa-a83a-6448b0a1e1f2</value>
      </setting>
      <setting name="ThanksMsg1" serializeAs="String">
        <value>Thank you for your interest in attending our College Credit Plus (CCP) New Student Orientation.  We received your response and look forward to your attendance at our event.</value>
      </setting>
      <setting name="devMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="simulatedUser" serializeAs="String">
        <value>S01128347</value>
      </setting>
      <setting name="simulatedEmail" serializeAs="String">
        <value>lauren.mazzoli@tri-c.edu</value>
      </setting>
      <setting name="EmailHost" serializeAs="String">
        <value>smtp.tri-c.edu</value>
      </setting>
      <setting name="EmailPort" serializeAs="String">
        <value>10879</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>DoNotReply.CollegeCreditPlus@tri-c.edu</value>
      </setting>
      <setting name="EmailSubject" serializeAs="String">
        <value>College Credit Plus Orientation Confirmation</value>
      </setting>
      <setting name="ThanksMsg2" serializeAs="String">
        <value />
      </setting>
      <setting name="AlertMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="EastEmail" serializeAs="String">
        <value>ccpeast@tri-c.edu</value>
      </setting>
      <setting name="WestEmail" serializeAs="String">
        <value>ccpWest@tri-c.edu</value>
      </setting>
      <setting name="MetroEmail" serializeAs="String">
        <value>ccpMetro@tri-c.edu</value>
      </setting>
      <setting name="WestshoreEmail" serializeAs="String">
        <value>ccpWestshore@tri-c.edu</value>
      </setting>
      <setting name="BrunswickEmail" serializeAs="String">
        <value>ccpWest-Brunswick@tri-c.edu</value>
      </setting>
      <setting name="SetBackDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllowDuplicates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClosedMessage" serializeAs="String">
        <value> There are no Orientation Sessions available.  Please check back later.</value>
      </setting>
    </CollegeCreditPlusOrientation.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>