@model string
@* todo: create a model that holds  event info and contact info for the program*@
@{
    ViewBag.Title = "Thanks";
}
<div class="container">
    <h2>You are already signed up for orientation on @Model</h2>
    <div>If you are unable to attend or need to change the date, please contact us so we can open your seat back up. </div>
    @*<div>@Model.ContactInfo</div>*@
</div>
